<header class="header">
  <div class="container">
    <div class="header__wrap header__wrap--mobile">
      <div class="header__logo">
        <img src="assets/img/Logotype.png" alt="Logo" class="header__logo-img">
      </div>

        <p class="header__info header__location info">
          <b>Warszawa,</b>
          <span>PL Konstytucii, 4 | Skierniwice, ul. 1 maja 13</span>
        </p>
        <p class="header__info info">
          <b>Время работы,</b>
          <span>Пн-Пт: 8:00-18:00 </span>
        </p>
      <div class="header__contacts social-contacts">
        <a href="" class="header__social social-icon viber">
          <img class="header__social-img " src="assets/img/icons/viber.png" alt="">
        </a>
        <a href="" class="header__social social-icon wu">
          <img class="header__social-img" src="assets/img/icons/wu.png" alt="">
        </a>
        <a href="" class="header__social social-icon tg">
          <img class="header__social-img" src="assets/img/icons/tg.png" alt="">
        </a>
      </div>
      <p class="header__info info">
        <a href="" class="header__phone">
          +48 579 845 868
        </a>
        <span>Владислав</span>
      </p>
    </div>
    <div class="header__intro">
      <h1 class="header__intro-title"><span>Easy</span>Car</h1>
      <p class="header__intro-text">выкупи свое авто до 1 года!</p>
    </div>
  </div>
</header>