<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <img src="assets/img/Logotype.png" alt="Logo" class="footer__logo logo">
      <div class="footer__info-wrap">
        <p class="footer__info info">
          <b>Warszawa,</b>
          <span>PL Konstytucii, 4 | Skierniwice, ul. 1 maja 13</span>
        </p>
        <p class="footer__info info">
          <b>Время работы,</b>
          <span>Пн-Пт: 8:00-18:00 </span>
        </p>
      </div>
      <div class="footer__contact social-contacts">
        <a href="" class="footer__social social-icon vk">
          <img class="footer__social-img " src="assets/img/icons/vk.png" alt="vk">
        </a>
        <a href="" class="footer__social social-icon fb">
          <img class="footer__social-img " src="assets/img/icons/fb.png" alt="fb">
        </a>
        <a href="" class="footer__social social-icon viber">
          <img class="footer__social-img " src="assets/img/icons/viber.png" alt="viber">
        </a>
        <a href="" class="footer__social social-icon wu">
          <img class="footer__social-img " src="assets/img/icons/wu.png" alt="wu">
        </a>
        <a href="" class="footer__social social-icon tg">
          <img class="footer__social-img " src="assets/img/icons/tg.png" alt="tg">
        </a>
      </div>
      <p class="footer__phone info">
        <a href="" class="header__phone">
          +48 579 845 868
        </a>
        <span>Владислав</span>
      </p>
    </div>
  </div>
</footer>
